.stopwatch-button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 12px;
  border: 2px solid #008cba;
  margin-right: 10px;

  margin: 15px 10px 25px;
}
.stopwatch-button:hover {
  background-color: #008cba;
  color: white;
}

.buttons-container {
  margin-bottom: 20px;
}
