body {
  background-color: rgb(150, 181, 204);
}

.stopwatch-container {
  background: #fff;
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 45%;
  margin-top: 45px;
}
.stopwatch-header {
  font-weight: bold;
  font-size: 40px;
}
